In [1]:
%load_ext sql

/Users/fmcquillan/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/fmcquillan/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
# Greenplum 4.3.10.0
#%sql postgresql://gpdbchina@10.194.10.68:61000/madlib
        
# PostgreSQL local
%sql postgresql://fmcquillan@localhost:5432/madlib

u'Connected: fmcquillan@madlib'

In [3]:
%sql select madlib.version();
#%sql select version();

1 rows affected.

[(u'MADlib version: 1.13, git revision: unknown, cmake configuration time: Wed Dec 20 08:02:21 UTC 2017, build type: Release, build system: Darwin-17.3.0, C compiler: Clang, C++ compiler: Clang',)]

# 1. On-line help

In [ ]:
%sql SELECT * FROM madlib.summary();

# 2. Load data
Using part of the popular iris data set from https://archive.ics.uci.edu/ml/datasets/iris

In [4]:
%%sql
DROP TABLE IF EXISTS iris;

CREATE TABLE iris (id INT, sepal_length FLOAT, sepal_width FLOAT,
                    petal_length FLOAT, petal_width FLOAT, 
                   class_name text);
                         
INSERT INTO iris VALUES 
(1,5.1,3.5,1.4,0.2,'Iris-setosa'),
(2,4.9,3.0,1.4,0.2,'Iris-setosa'),
(3,4.7,3.2,1.3,0.2,'Iris-setosa'),
(4,4.6,3.1,1.5,0.2,'Iris-setosa'),
(5,5.0,3.6,1.4,0.2,'Iris-setosa'),
(6,5.4,3.9,1.7,0.4,'Iris-setosa'),
(7,4.6,3.4,1.4,0.3,'Iris-setosa'),
(8,5.0,3.4,1.5,0.2,'Iris-setosa'),
(9,4.4,2.9,1.4,0.2,'Iris-setosa'),
(10,4.9,3.1,1.5,0.1,'Iris-setosa'),
(11,7.0,3.2,4.7,1.4,'Iris-versicolor'),
(12,6.4,3.2,4.5,1.5,'Iris-versicolor'),
(13,6.9,3.1,4.9,1.5,'Iris-versicolor'),
(14,5.5,2.3,4.0,1.3,'Iris-versicolor'),
(15,6.5,2.8,4.6,1.5,'Iris-versicolor'),
(16,5.7,2.8,4.5,1.3,'Iris-versicolor'),
(17,6.3,3.3,4.7,1.6,'Iris-versicolor'),
(18,4.9,2.4,3.3,1.0,'Iris-versicolor'),
(19,6.6,2.9,4.6,1.3,'Iris-versicolor'),
(20,5.2,2.7,3.9,1.4,'Iris-versicolor'),
(21,6.3,3.3,6.0,2.5,'Iris-virginica'),
(22,5.8,2.7,5.1,1.9,'Iris-virginica'),
(23,7.1,3.0,5.9,2.1,'Iris-virginica'),
(24,6.3,2.9,5.6,1.8,'Iris-virginica'),
(25,6.5,3.0,5.8,2.2,'Iris-virginica'),
(26,7.6,3.0,6.6,2.1,'Iris-virginica'),
(27,4.9,2.5,4.5,1.7,'Iris-virginica'),
(28,7.3,2.9,6.3,1.8,'Iris-virginica'),
(29,6.7,2.5,5.8,1.8,'Iris-virginica'),
(30,7.2,3.6,6.1,2.5,'Iris-virginica');

SELECT * FROM iris ORDER BY id;

Done.
Done.
30 rows affected.
30 rows affected.

[(1, 5.1, 3.5, 1.4, 0.2, u'Iris-setosa'),
 (2, 4.9, 3.0, 1.4, 0.2, u'Iris-setosa'),
 (3, 4.7, 3.2, 1.3, 0.2, u'Iris-setosa'),
 (4, 4.6, 3.1, 1.5, 0.2, u'Iris-setosa'),
 (5, 5.0, 3.6, 1.4, 0.2, u'Iris-setosa'),
 (6, 5.4, 3.9, 1.7, 0.4, u'Iris-setosa'),
 (7, 4.6, 3.4, 1.4, 0.3, u'Iris-setosa'),
 (8, 5.0, 3.4, 1.5, 0.2, u'Iris-setosa'),
 (9, 4.4, 2.9, 1.4, 0.2, u'Iris-setosa'),
 (10, 4.9, 3.1, 1.5, 0.1, u'Iris-setosa'),
 (11, 7.0, 3.2, 4.7, 1.4, u'Iris-versicolor'),
 (12, 6.4, 3.2, 4.5, 1.5, u'Iris-versicolor'),
 (13, 6.9, 3.1, 4.9, 1.5, u'Iris-versicolor'),
 (14, 5.5, 2.3, 4.0, 1.3, u'Iris-versicolor'),
 (15, 6.5, 2.8, 4.6, 1.5, u'Iris-versicolor'),
 (16, 5.7, 2.8, 4.5, 1.3, u'Iris-versicolor'),
 (17, 6.3, 3.3, 4.7, 1.6, u'Iris-versicolor'),
 (18, 4.9, 2.4, 3.3, 1.0, u'Iris-versicolor'),
 (19, 6.6, 2.9, 4.6, 1.3, u'Iris-versicolor'),
 (20, 5.2, 2.7, 3.9, 1.4, u'Iris-versicolor'),
 (21, 6.3, 3.3, 6.0, 2.5, u'Iris-virginica'),
 (22, 5.8, 2.7, 5.1, 1.9, u'Iris-virginica'),
 (23, 7.1, 3.0, 5.9, 2.1, u'Iris-virginica'),
 (24, 6.3, 2.9, 5.6, 1.8, u'Iris-virginica'),
 (25, 6.5, 3.0, 5.8, 2.2, u'Iris-virginica'),
 (26, 7.6, 3.0, 6.6, 2.1, u'Iris-virginica'),
 (27, 4.9, 2.5, 4.5, 1.7, u'Iris-virginica'),
 (28, 7.3, 2.9, 6.3, 1.8, u'Iris-virginica'),
 (29, 6.7, 2.5, 5.8, 1.8, u'Iris-virginica'),
 (30, 7.2, 3.6, 6.1, 2.5, u'Iris-virginica')]

# 3.  Get summary data 
Basic summary data using all defaults.

In [6]:
%%sql
DROP TABLE IF EXISTS iris_summary;

SELECT * FROM madlib.summary( 'iris',            -- Source table
                              'iris_summary'     -- Output table
                            );

Done.
1 rows affected.

[(u'iris_summary', 6, 0.0278480052947998)]

In [7]:
%%sql
SELECT * FROM iris_summary;

6 rows affected.

[(None, None, u'id', 1, u'int4', 30L, 30L, 0L, None, 0.0, None, 15.5, 77.5, 1.0, 30.0, 8.25, 15.5, 22.75, [u'1', u'2', u'3', u'4', u'5', u'6', u'7', u'8', u'9', u'10'], [1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L]),
 (None, None, u'sepal_length', 2, u'float8', 30L, 22L, 0L, None, 0.0, None, 5.84333333333333, 0.9294367816092, 4.4, 7.6, 4.925, 5.75, 6.575, [u'4.9', u'6.3', u'6.5', u'4.6', u'5', u'6.9', u'5.4', u'4.4', u'7', u'6.4'], [4L, 3L, 2L, 2L, 2L, 1L, 1L, 1L, 1L, 1L]),
 (None, None, u'sepal_width', 3, u'float8', 30L, 14L, 0L, None, 0.0, None, 3.04, 0.13903448275862, 2.3, 3.9, 2.825, 3.0, 3.275, [u'2.9', u'3', u'3.1', u'3.2', u'3.6', u'3.3', u'2.8', u'2.7', u'2.5', u'3.4'], [4L, 4L, 3L, 3L, 2L, 2L, 2L, 2L, 2L, 2L]),
 (None, None, u'petal_length', 4, u'float8', 30L, 19L, 0L, None, 0.0, None, 3.86333333333333, 3.53964367816093, 1.3, 6.6, 1.5, 4.5, 5.475, [u'1.4', u'1.5', u'4.5', u'5.8', u'4.6', u'4.7', u'3.3', u'4.9', u'1.7', u'4'], [5L, 3L, 3L, 2L, 2L, 2L, 1L, 1L, 1L, 1L]),
 (None, None, u'petal_width', 5, u'float8', 30L, 15L, 0L, None, 0.0, None, 1.21333333333333, 0.622574712643679, 0.1, 2.5, 0.225, 1.4, 1.8, [u'0.2', u'1.8', u'1.5', u'1.3', u'1.4', u'2.1', u'2.5', u'1.6', u'1', u'0.1'], [7L, 3L, 3L, 3L, 2L, 2L, 2L, 1L, 1L, 1L]),
 (None, None, u'class_name', 6, u'text', 30L, 3L, 0L, 0L, 0.0, 0.0, None, None, 11.0, 15.0, None, None, None, [u'Iris-setosa', u'Iris-versicolor', u'Iris-virginica'], [10L, 10L, 10L])]

# 4. Grouping

In [8]:
%%sql
DROP TABLE IF EXISTS iris_summary;

SELECT * FROM madlib.summary( 'iris',                       -- Source table
                              'iris_summary',               -- Output table
                              'sepal_length, sepal_width',  -- Columns to summarize
                              'class_name'                  -- Grouping column
                            );

SELECT * FROM iris_summary;

Done.
1 rows affected.
8 rows affected.

[(u'class_name', u'Iris-setosa', u'sepal_length', 2, u'float8', 10L, 7L, 0L, None, 0.0, None, 4.86, 0.0848888888888976, 4.4, 5.4, 4.625, 4.9, 5.0, [u'4.6', u'4.9', u'5', u'5.1', u'4.4', u'5.4', u'4.7'], [2L, 2L, 2L, 1L, 1L, 1L, 1L]),
 (u'class_name', u'Iris-setosa', u'sepal_width', 3, u'float8', 10L, 8L, 0L, None, 0.0, None, 3.31, 0.094333333333336, 2.9, 3.9, 3.1, 3.3, 3.475, [u'3.4', u'3.1', u'3.2', u'3.6', u'3.9', u'3.5', u'2.9', u'3'], [2L, 2L, 1L, 1L, 1L, 1L, 1L, 1L]),
 (u'class_name', u'Iris-versicolor', u'sepal_length', 2, u'float8', 10L, 10L, 0L, None, 0.0, None, 6.1, 0.528888888888893, 4.9, 7.0, 5.55, 6.35, 6.575, [u'7', u'6.4', u'6.9', u'5.5', u'6.5', u'5.7', u'6.3', u'4.9', u'6.6', u'5.2'], [1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L]),
 (u'class_name', u'Iris-versicolor', u'sepal_width', 3, u'float8', 10L, 8L, 0L, None, 0.0, None, 2.87, 0.115666666666666, 2.3, 3.3, 2.725, 2.85, 3.175, [u'2.8', u'3.2', u'2.3', u'3.3', u'2.4', u'2.9', u'2.7', u'3.1'], [2L, 2L, 1L, 1L, 1L, 1L, 1L, 1L]),
 (u'class_name', u'Iris-virginica', u'sepal_length', 2, u'float8', 10L, 9L, 0L, None, 0.0, None, 6.57, 0.646777777777778, 4.9, 7.6, 6.3, 6.6, 7.175, [u'6.3', u'5.8', u'7.1', u'6.5', u'7.6', u'4.9', u'7.3', u'6.7', u'7.2'], [2L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L]),
 (u'class_name', u'Iris-virginica', u'sepal_width', 3, u'float8', 10L, 6L, 0L, None, 0.0, None, 2.94, 0.11377777777778, 2.5, 3.6, 2.75, 2.95, 3.0, [u'3', u'2.9', u'2.5', u'3.3', u'2.7', u'3.6'], [3L, 2L, 2L, 1L, 1L, 1L]),
 (None, None, u'sepal_length', 2, u'float8', 30L, 22L, 0L, None, 0.0, None, 5.84333333333333, 0.9294367816092, 4.4, 7.6, 4.925, 5.75, 6.575, [u'4.9', u'6.3', u'6.5', u'4.6', u'5', u'6.9', u'5.4', u'4.4', u'7', u'6.4'], [4L, 3L, 2L, 2L, 2L, 1L, 1L, 1L, 1L, 1L]),
 (None, None, u'sepal_width', 3, u'float8', 30L, 14L, 0L, None, 0.0, None, 3.04, 0.13903448275862, 2.3, 3.9, 2.825, 3.0, 3.275, [u'2.9', u'3', u'3.1', u'3.2', u'3.6', u'3.3', u'2.8', u'2.7', u'2.5', u'3.4'], [4L, 4L, 3L, 3L, 2L, 2L, 2L, 2L, 2L, 2L])]

# 5. Other parameters

In [ ]:
%%sql
DROP TABLE IF EXISTS iris_summary;

SELECT * FROM madlib.summary( 'iris',                       -- Source table
                              'iris_summary',               -- Output table
                              'sepal_length, sepal_width',  -- Columns to summarize
                               NULL,                        -- No grouping
                               TRUE,                        -- Get distinct values
                               FALSE,                       -- Dont get quartiles
                               ARRAY[0.33, 0.66],           -- Get ntiles
                               3,                           -- Number of MFV to compute
                               FALSE                        -- Get exact values
                            );

SELECT * FROM iris_summary;